on:
  push:
    branches:
      - main
  pull_request:

name: Linting
jobs:
  lint:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Use Rust cache
        uses: Swatinem/rust-cache@v1
        with:
          cache-on-failure: true
      - name: Install prettier
        run: |
          yarn global add prettier
      - name: Check Markdown format
        run: |
          prettier --check "**/*.md"
      - name: Check Yaml format
        run: |
          prettier --check "**/*.{yaml,yml}"

      - name: Compile contracts
        uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.5.4"
      - run: |
          cd ./contracts && make generate_artifacts && scarb fmt --check

      - name: Check Rust format
        run: |
          cargo fmt --all -- --check
      - name: Run Clippy lints
        run: |
          cargo clippy --all --all-targets --all-features -- -D warnings
